
.headerMain {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    padding: 20px 10px;
}

.headerMain:before {
    content: "";
    display: block;
    opacity: .5;
    filter: blur(20px);
    height: 100px;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    background-color: white;
    z-index: 100;
}

.title {
    position: absolute;
    z-index: 101;
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;
}