.menuOpener {
    position: relative;
    z-index: 103;
    height: 35px;
    width: 35px;
}

.menu {
    position: relative;
}

.menuOpener:hover {
    cursor: pointer;
    
}
.menuOpener:hover .dot, .menu.active .dot {
    background-color: rgba(255,255,255,1);
}

.dot {
    transition: .25s;
    height: 15px;
    width: 15px;
    filter: drop-shadow(0px 4px 6px #000000);
    box-sizing: border-box;
    border-radius: 50%;
    border: 3px solid black;
    position: absolute;
    background-color: rgba(255,255,255,.5);
}

.dot.first {
    top: 0;
    left: 0;
}  
.dot.second {
    top: 0;
    right: 0;

}  
.dot.third {
    bottom: 0;
    left: 0;
}  
.dot.fourth {
    bottom: 0;
    right: 0;
}  


.active ul {
    opacity: 1;
}

.menu ul:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 105;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(5px);
    border-radius: 18px;
    background: rgba(196, 196, 196, 0.8);
}

.menu.active ul {
    opacity: 1;
    display: block;
    visibility: visible;
}

.menu ul {
    top: 50px;
    left: 10px;
    opacity: 0;
    transition: .25s;
    visibility: hidden;
    list-style-type: none;
    margin: 0;
    text-align: center;
    padding: 40px;
    z-index: 106;
    display: none;
    position: absolute;
}

.menu li:first-child {
    margin-top: 0;
}
.menu li {
    position: relative;
    margin-top: 30px;
    z-index: 107;
 }